* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #DEDEDE;
}

footer {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    align-items: center;
    padding: 30px 10%;
    background-color: #DEDEDE;
}

footer h2 {
    width: 100%;
    color: #1f1d1d;
    text-align: center;
}

.logo {
    cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #1f1d1d;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 8px 20px 0 20px;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

  /* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #DEDEDE;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #1f1d1d;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: initial;
    }
}

.container {
    width: 75%;
    margin: 50px auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 30%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card-header {
    text-align: left;
    padding: 20px 10px;
    background: #DEDEDE;
    color: #1f1d1d;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: #4C8AF5;
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 100%;
    }

    .heading {
        padding: 20px;
        font-size: 20px;
    }

    .card {
        width: 80%;
    }
}

.card input, select {
    width: 100%;
    height: 40px;
    padding: 0.2em 0.5em;
    margin-bottom: 20px;
}

.search {
    width: 100%;
    height: 30px;
    padding: 0.2em 0.5em;
}

textarea {
    width: 100%;
    padding: 0.2em 0.5em;
    margin-bottom: 20px;
    height: 300px;
}

label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

small {
    font-size: 14px;
}

.error {
    color: #ba0f2b;
    margin-top: 1em;
    margin-left: 1em;
}
